<?xml version="1.0" encoding="UTF-8"?>
<root>
	<user>
		<ad_usertop><![CDATA[if (chkdiv('ad_usertop')) {document.getElementById('ad_usertop').innerHTML='';}]]></ad_usertop>
		<ad_userbot><![CDATA[if (chkdiv('ad_userbot')) {document.getElementById('ad_userbot').innerHTML='';}]]></ad_userbot>
		<ad_userlinks><![CDATA[if (chkdiv('ad_userlinks')) {document.getElementById('ad_userlinks').innerHTML='';}]]></ad_userlinks>
		<ad_usercomment><![CDATA[if (chkdiv('ad_usercomment')) {document.getElementById('ad_usercomment').innerHTML='';}]]></ad_usercomment>
	</user>
	<team>
		<ad_teamtop><![CDATA[if (chkdiv('ad_teamtop')) {document.getElementById('ad_teamtop').innerHTML='';}]]></ad_teamtop>
		<ad_teambot><![CDATA[if (chkdiv('ad_teambot')) {document.getElementById('ad_teambot').innerHTML='';}]]></ad_teambot>
		<ad_teamlinks><![CDATA[if (chkdiv('ad_teamlinks')) {document.getElementById('ad_teamlinks').innerHTML='';}]]></ad_teamlinks>
		<ad_teamcomment><![CDATA[if (chkdiv('ad_teamcomment')) {document.getElementById('ad_teamcomment').innerHTML='';}]]></ad_teamcomment>
	</team>
</root>
