<?xml version="1.0" encoding="UTF-8"?>
<root>
	<user>
		<ad_usertop><![CDATA[if (chkdiv('ad_usertop')) {set_innerHTML('ad_usertop','');}]]></ad_usertop>
		<ad_userbot><![CDATA[if (chkdiv('ad_userbot')) {set_innerHTML('ad_userbot','');}]]></ad_userbot>
		<ad_userlinks><![CDATA[if (chkdiv('ad_userlinks')) {set_innerHTML('ad_userlinks','');}]]></ad_userlinks>
		<ad_usercomment><![CDATA[if (chkdiv('ad_usercomment')) {set_innerHTML('ad_usercomment','');}]]></ad_usercomment>
		<gg_usertop><![CDATA[if (chkdiv('gg_usertop')) {set_innerHTML('gg_usertop','');}]]></gg_usertop>
		<gg_userbot><![CDATA[if (chkdiv('gg_userbot')) {set_innerHTML('gg_userbot','');}]]></gg_userbot>
		<gg_userlinks><![CDATA[if (chkdiv('gg_userlinks')) {set_innerHTML('gg_userlinks','');}]]></gg_userlinks>
		<gg_usercomment><![CDATA[if (chkdiv('gg_usercomment')) {set_innerHTML('gg_usercomment','');}]]></gg_usercomment>
		<gg_user_desktop_main><![CDATA[if (chkdiv('gg_user_desktop_main')) {set_innerHTML('gg_user_desktop_main','');}]]></gg_user_desktop_main>
	</user>
	<team>
		<ad_teamtop><![CDATA[if (chkdiv('ad_teamtop')) {document.getElementById('ad_teamtop').innerHTML='';}]]></ad_teamtop>
		<ad_teambot><![CDATA[if (chkdiv('ad_teambot')) {document.getElementById('ad_teambot').innerHTML='';}]]></ad_teambot>
		<ad_teamlinks><![CDATA[if (chkdiv('ad_teamlinks')) {document.getElementById('ad_teamlinks').innerHTML='';}]]></ad_teamlinks>
		<ad_teamcomment><![CDATA[if (chkdiv('ad_teamcomment')) {document.getElementById('ad_teamcomment').innerHTML='';}]]></ad_teamcomment>
		<gg_teamtop><![CDATA[if (chkdiv('gg_teamtop')) {set_innerHTML('gg_teamtop',' ');}]]></gg_teamtop>
		<gg_teambot><![CDATA[if (chkdiv('gg_teambot')) {set_innerHTML('gg_teambot',' ');}]]></gg_teambot>
		<gg_teamlinks><![CDATA[if (chkdiv('gg_teamlinks')) {set_innerHTML('gg_teamlinks',' ');}]]></gg_teamlinks>
		<gg_teamcomment><![CDATA[if (chkdiv('gg_teamcomment')) {set_innerHTML('gg_teamcomment',' ');}]]></gg_teamcomment>
	</team>
</root>