<?xml version="1.0" encoding="GB2312"?>
<root><content name="showtag"><![CDATA[无记录]]></content><content name="teampost"><![CDATA[<ul><li><a href="http://5.4sk.cn/group.asp?gid=1&pid=1" target="_blank">房贷首付是</a>(bluenet,2007-8-29 18:35:00)</li></ul>]]></content><content name="showteam"><![CDATA[<div><ul><li><img src="http://5.4sk.cn/images/default_groupico.gif" width="50" height="50"/><br /><a href="http://5.4sk.cn/group.asp?gid=1" target="_blank">热我认为</a>(1/1)</li></ul></div>]]></content><content name="blogstar"><![CDATA[无记录]]></content><content name="login"><![CDATA[function chkdiv(divid){var chkid=document.getElementById(divid);if(chkid != null){return true; }else {return false; }}
document.write('<div id="ob_login"></div><script src=http://www.oblog.com.cn/inc/main.js></script><script src=http://www.oblog.com.cn/login.asp?action=showjs></script>');]]></content></root>
